@charset "utf-8";
/* CSS Document */

.hidden
{
  display: none;
}

p
{
  font-family: 'Averia Serif Libre', cursive;
}
h1
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

#container
{
  padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

#mainHeader
{
  display: flex;
	flex-direction: row;
}

#logo
{
  height: 100px;
	width: 250px;
	background-color: #f0aeae;
  margin-top: 10px;
}

#navMain
{
  width: 600px;
	height: 40px;
	background-color: #23550B;
  margin-left: 600px;
  margin-top: 50px;
}

#navBut
{
  width: 130px;
	height: 40px;
  background-color: red;
  margin-left: 10px;
  margin-top: 50px;
}

#heroImages
{
  /*width: 960px;*/
  height: 450px;
  background-color: green;
  opacity: 0.8;
  margin-top: 20px;
}

#whoWeAre
{
  /*width: 960px;*/
  height: 350px;
  background-color: pink;
  opacity: 40%;
}

#whoWeAreTextH1
{
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 20px;
}

#whoWeAreText
{
  padding-top: 90px;
  text-align: center;
}

#whoWeAreBut
{
  height: 25px;
  width: 85px;
  border-radius: 10px;
  background-color: green;
  margin-top: 15px;
  text-align: center;
}

/*Section #3*/
#ourImpact
{
  height: 400px;
  background-color: #00a7e1;
  opacity: ;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
/*Vertical Lines*/
.line1
{
  border-left: 2px solid black;
  height: 250px;
  opacity: 0.08;
  margin-top: 70px;
}
.line2
{
  border-left: 2px solid black;
  height: 250px;
  opacity: 0.08;
  margin-top: 70px;
}
/*Boxes*/
.Box1
{
  width: 400px;
  height: 150px;
  margin-right: 50px;
  margin: auto;
}

.Box1 h1
{
  font-size: 30px;
  padding-bottom: 20px;
  color: #fff;
}
.Box1 p
{
  font-size: 18px;
  color: #fff;
  font-family: 'Averia Serif Libre', cursive;
}

.Box1 button
{
  height: 25px;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.95;
  margin-top: 40px;
}

.Box2
{
  width: 400px;
  height: 150px;
  margin: auto;
}
.Box2 h1
{
  font-size: 30px;
  padding-bottom: 20px;
  color: #fff;
}
.Box2 p
{
  font-size: 18px;
  color: #fff;
}
.Box2 button
{
  height: 25px;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.95;
  margin-top: 40px;
}

.Box3
{
  width: 400px;
  height: 150px;
  margin: auto;
}
.Box3 h1
{
  font-size: 30px;
  padding-bottom: 20px;
  color: #fff;
}
.Box3 p
{
  font-size: 18px;
  color: #fff;
}
.Box3 button
{
  height: 25px;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.95;
  margin-top: 40px;
}





#footerMain
{
  height: 150px;
  background-color: red;
  opacity: 0.5;
}

#footerLogo
{
  height: 100px;
	width: 250px;
  color: blue;
}


.footerForm
{
  padding-top: 50px;
  padding-right: 25px;
  float: right;
}
